<!DOCTYPE html>
<html>

  {% include head.html %}
  <script src="{{ "/vendor/js/jquery.min.js" | prepend: site.baseurl }}"></script>
  <script src="{{ "/vendor/js/bootstrap.min.js" | prepend: site.baseurl }}"></script>
  <body>
    {% include header.html %}
    <div class="container-fluid">
      <div class="row">
        {% include sidebar.html %}
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2">
          <div class="main">
            {{ content }}
          </div>
        </div>
      </div>
    </div>
  </body>

</html>
